.modal-wrapper {
  display: flex;
}
.new-post-container {
  max-width: 800px;
  width: 100%;
  margin: auto;
  padding: 20px;
  background-color: white;
  overflow: hidden;
}
.button-container {
  float: right;

  .form-submit-button {
  }
}
